PORT=4000
ENV=development
APP_URL=https://localhost:3000

NIS_DB_HOST=localhost
NIS_DB_PORT=3306
NIS_DB_USER=root
NIS_DB_PASS=root
NIS_DB_NAME=nis
NIS_DB_POOL=10

DASHBOARD_DB_HOST=localhost
DASHBOARD_DB_PORT=3306
DASHBOARD_DB_USER=root
DASHBOARD_DB_PASS=root
DASHBOARD_DB_NAME=dashboard
DASHBOARD_DB_POOL=10

NUSAFIBER_DB_HOST=localhost
NUSAFIBER_DB_PORT=3306
NUSAFIBER_DB_USER=root
NUSAFIBER_DB_PASS=root
NUSAFIBER_DB_NAME=nusafiber
NUSAFIBER_DB_POOL=10

NUSAWORK_API_URL=https://nusawork.com
NUSAWORK_CLIENT_ID=
NUSAWORK_CLIENT_SECRET=

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_DB=0
REDIS_CACHE_TTL=86400

GOOGLE_CLIENT_ID=user.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

IS5_AUTH_URL=http://nusa.net.id

JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=superrefreshsecretkey

FEEDBACK_URL=