PORT=4000
ENV=development
APP_URL=https://localhost:3000

ISX_DB_HOST=localhost
ISX_DB_PORT=3306
ISX_DB_USER=root
ISX_DB_PASS=root
ISX_DB_NAME=isx
ISX_DB_POOL=10

DASHBOARD_DB_HOST=localhost
DASHBOARD_DB_PORT=3306
DASHBOARD_DB_USER=root
DASHBOARD_DB_PASS=root
DASHBOARD_DB_NAME=dashboard
DASHBOARD_DB_POOL=10

NUSAFIBER_DB_HOST=localhost
NUSAFIBER_DB_PORT=3306
NUSAFIBER_DB_USER=root
NUSAFIBER_DB_PASS=root
NUSAFIBER_DB_NAME=nusafiber
NUSAFIBER_DB_POOL=10

NUSAWORK_API_URL=https://nusawork.com
NUSAWORK_CLIENT_ID=
NUSAWORK_CLIENT_SECRET=

JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=superrefreshsecretkey

FEEDBACK_URL=